*{
    
    outline: 2px solid black;
}


body {
  overflow-x: hidden; /* 🚫 removes horizontal scroll */
}

.top-bar{
    background-color: #f85606;
    color: white;
    height: 27px;
    justify-content: flex-end;
    display: flex; 
    padding-top: 2px;
     font-size: 13px;
}

#nav-link-app{
  text-decoration: none;
}
.topbar-text {
  margin: 0 12px;  
}

.second-bar{
    background-color: #f85606;
    height: 82px;
}

.logo{
    height: 70px;
    /* margin-bottom: 1rem; */
}

.form-control { height:55px;
 }

@media (max-width: 1240px) {
  .top-bar { height: 27px; }
 .second-bar { height: 80px; }
  .logo { height: 70px;     margin-right: 90px;}
 .form-control { height:60px; }
.search{height: 50px;}
}

@media (max-width: 850px) {
  .top-bar { height: 17px; }
  .second-bar { height: 70px; }
  .logo { height: 40px;    margin-right: 70px;}
  .form-control { height:40px; }
  .search{height: 30px;}
}

@media (max-width: 550px) {
  .top-bar { height: 10px; }
    .second-bar { height: 60px; }
    .logo { height: 25px;margin-right: 70px }
 .form-control { height:30px; }
.search{max-height:30px;}

}
@media (max-width: 425px) {
      .logo { height: 25px;margin-right: 30px; }

}