
.top-bar{
  display: flex;
  align-items: center;
   flex-wrap: wrap;
  justify-content: flex-end;
    background-color: #f85606;
    color: white;
    height: 27px;
    padding-top: 2px;
    padding-right: 4px;
    font-size: 15px;
    gap: 19px;
    cursor: pointer;

}

#nav-link-app{
  text-decoration: none;
}

.second-bar {
  background-color: #f85606;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
}

.logo img {
  height: 60px;
}

.search-container {
  display: flex;
  align-items: center;
  flex: 1;
  justify-content: center;
}

.search-container input {
  width: 60%;
  max-width: 600px;
  padding: 10px;
  border: none;
  border-radius: 10px 0 0 10px;
  outline: none;
  font-size: 15px;
}

.search-container button {
  background: #FF6600;
  border: none;
  padding: 10px 16px;
  border-radius: 0 10px 10px 0;
  cursor: pointer;
}

.search-container i {
  color: white;
  font-size: 16px;
}


@media (max-width: 768px) {
  .second-bar {
    flex-direction: column;
    height: auto;
    padding: 10px;
  }

  .search-container {
    width: 100%;
    justify-content: center;
  }

  .search-container input {
    width: 80%;
  }
}

@media (max-width: 992px) {
  .top-bar {
    gap: 10px;
    font-size: 13px;
  }
}

@media (max-width: 600px) {
  .top-bar {
    gap: 8px;
        font-size: 12px;
        flex-wrap: wrap;
  }
}

  @media (max-width: 500px) {
  .top-bar {
    gap: 6px;
        font-size: 11px;
        flex-wrap: wrap;
        white-space: nowrap;
  }

}
  @media (max-width: 400px) {
  .top-bar {
    gap: 5px;
        font-size: 8px;
        flex-wrap: wrap;
        white-space: nowrap;
  }

}